@use "../custom" as *;

  .card-item {
    background-color: white;
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: $gap;
  

    img.card-cover {
      display: block !important;
      width: calc(100% + 2 * #{$gap}) !important;
      margin: -10px 0 10px -10px !important;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
  }

