@use "../custom" as *;

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
}
.not-found{
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;

}