@use "../custom" as *;

.trello-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    margin-right: 5px;
  }
  .trello-container {
    margin: 0 15px;
    padding: 0;
  }
}

.not-found {
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.cancel-icon {
  margin-left: $gap;
  cursor: pointer;
  img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(51%) saturate(1960%)
      hue-rotate(328deg) brightness(99%) contrast(88%);
  }
}
